<!DOCTYPE html>
<html style="height: 1196px;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>srm</title>
    <meta name="theme-color" content="#214a80">
    <link rel="icon" type="image/jpeg" sizes="1080x1080" href="assets/img/39c717f38d18b91d81a3a28d19a6460c.jpg">
    <link rel="icon" type="image/jpeg" sizes="1080x1080" href="assets/img/39c717f38d18b91d81a3a28d19a6460c.jpg">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Bootstrap-Chat.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Dark-NavBar.css">
    <link rel="stylesheet" href="assets/css/login-form.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background: repeating-linear-gradient(90deg, black 0%, #0098ee 100%), #0098ee;text-align: left;height: 2209px;">
    <div>
        <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="height: 80px;color: #ffffff;background: #000;">
            <div class="container-fluid"><a class="navbar-brand" href="#"><i class="fa fa-globe"></i>&nbsp;Super Rapide Message</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link active" style="color:#ffffff;" href="index.html"><i class="fa fa-home"></i>&nbsp;Acceuil</a></li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="Annulaire.html">Annulaire</a></li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="Discussion.html">Discussion</a></li>
                        <li class="nav-item"></li>
                        <li class="nav-item dropdown show"><a class="dropdown-toggle nav-link" aria-expanded="true" data-toggle="dropdown" href="#">Profil</a>
                            <div class="dropdown-menu show"><a class="dropdown-item" href="Register.html">S'inscrire</a><a class="dropdown-item" href="Login.html">Se connecter</a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <p style="text-align: left;margin: 20px;color: rgb(255,255,255);margin-top: 50px;font-size: x-large;">Le lieu pour discuter<br></p>
    <p style="margin: 20px;font-size: 3vw;color: rgb(255,255,255);margin-right: 100px;text-align: left;font-size: medium;">Que tu fasses partie d'un club scolaire, d'un groupe de gamers, d'une communauté d'art internationale, ou simplement d'une bande d'amis qui veulent passer du temps ensemble, SRM<br>est la façon la plus facile de discuter tous les jours et de <br>se retrouver plus souvent.<br></p>
    <p style="text-align: right;margin: 20px;color: rgb(255,255,255);margin-left: 30%;font-size: x-large;">Un lieu uniquement sur invitation avec plein de place pour discuter<br></p>
    <p style="margin: 20px;font-size: 3vw;color: rgb(255,255,255);text-align: right;margin-left: 100px;font-size: medium;">Les serveurs SRM sont organisés en salons axés sur des sujets où vous pouvez collaborer, partager et simplement discuter de votre journée sans encombrer un groupe de discussion.<br></p>
    <p style="text-align: left;margin: 20px;color: rgb(255,255,255);margin-top: 50px;margin-right: 30%;font-size: x-large;">Là où il est facile de passer du temps ensemble<br></p>
    <p style="margin: 20px;font-size: 3vw;color: rgb(255,255,255);margin-right: 100px;text-align: left;font-size: medium;">Prends place dans un salon vocal quand tu es libre. Les amis <br>dans ton serveur peuvent voir que tu es là et immédiatement<br>te rejoindre sans avoir besoin d'appeler.<br></p>
    <p style="text-align: right;margin: 20px;color: rgb(255,255,255);margin-left: 30%;font-size: x-large;">De quelques personnes à toute<br>&nbsp;une communauté<br></p>
    <p style="margin: 20px;font-size: 3vw;color: rgb(255,255,255);text-align: right;margin-left: 100px;font-size: medium;">Gère une communauté de quelque taille qu'elle soit, grâce à des outils de modération et des permissions personnalisées pour<br>les membres. Accorde des pouvoirs spéciaux aux membres, <br>crée des salons privés, et plus encore.<br></p>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>